body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
.main-container {
  text-align: center;
  width: 640px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Headshot Section */
.image-row img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 10px 0 20px;
  border: 3px solid #ddd;
  text-align: center;
}

/* Name Section */
.name-row h1 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 900;
}

/* Social Icons Section */
.social-icons-row {
  margin: 20px 0;
}

.social-icons-row a {
  display: flex;
  margin: 5px 10px;
  text-decoration: none;
  color: #0077b5; /* LinkedIn Blue */
  font-weight: bold;
  font-size: 18px;
  justify-content: space-around;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.social-icons-row a:hover {
  text-decoration: underline;
  color: #005582;
}

/* Items Section */
.item {
  margin: 20px 0 20px;
  background-color: rgb(215, 23, 62);
  display: flex;
  align-items: center;
  border-radius: 1000px;
  padding: 5px;
  padding-right: 75px;
  font-size: 16px;
  font-family: Playfair Display;
  box-shadow: 4px 4px 10px 0px rgba(122, 32, 122, 0.5);
}

.link-text {
  text-align: center;
  flex-grow: 1;
}

.item img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.item a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.item a:hover {
  color: #0077b5;
  text-decoration: underline;
}
